<ion-tabs class="tabs-positive tabs-icon-top" >
    <!--tab 主页-->
    <ion-tab title="首页" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!--tab 投标-->
    <ion-tab  title="理财" icon-off="ion-social-usd" icon-on="ion-social-usd-outline"  href="#/tab/finance" >
        <ion-nav-view name="tab-finance"></ion-nav-view>
    </ion-tab>

    <!--tab 发现-->
    <ion-tab title="发现" icon-off="ion-android-favorite" icon-on="ion-android-favorite-outline" href="#/tab/discover">
        <ion-nav-view name="tab-discover"></ion-nav-view>
    </ion-tab>

    <!--tab 个人中心-->
    <ion-tab title="我" icon-off="ion-android-happy" icon-on="ion-android-sad"  href="#/tab/profile">
        <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>
</ion-tabs>