<ion-tabs class="tabs-positive ">
    <!--tab 主页-->
    <ion-tab title="首页" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  herf="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!--tab 投标-->
    <ion-tab title="理财" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  herf="#/tab/finance" >
        <ion-nav-view name="tab-finance"></ion-nav-view>
    </ion-tab>

    <!--tab 发现-->
    <ion-tab title="发现" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" herf="#/tab/discover">
        <ion-nav-view name="tab-discover"></ion-nav-view>
    </ion-tab>

    <!--tab 个人中心-->
    <ion-tab title="我" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"  herf="#/tab/profile">
        <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>
</ion-tabs>