
<ion-tabs class=" tabs-icon-top " >
    <!--tab 主页-->
    <ion-tab title="首页"  icon-off="tab_home_off"  icon-on="tab_home_on" href="#/tab/home"  >
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!--tab 投标-->
    <ion-tab  title="理财" icon-off="tab_finance_off" icon-on="tab_finance_on"  href="#/tab/finance" >
        <ion-nav-view name="tab-finance"></ion-nav-view>
    </ion-tab>

    <!--tab 发现-->
    <ion-tab title="发现" icon-off="tab_discover_off" icon-on="tab_discover_on" href="#/tab/discover">
        <ion-nav-view name="tab-discover"></ion-nav-view>
    </ion-tab>

    <!--tab 个人中心-->
    <ion-tab title="我" icon-off="tab_profile_off" icon-on="tab_profile_on"  href="#/tab/profile">
        <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>
</ion-tabs>